@use "../public/styles/tailwind.css";
@use "../public/styles/mui.css";

body {
  font-family: Arial, Helvetica, sans-serif;
}

html.dark {
  .logo-colored {
    display: block;
  }

  .logo-white {
    display: none;
  }
}

html.light {
  .logo-colored {
    display: none;
  }

  .logo-white {
    display: block;
  }
}

p {
  margin-bottom: 1rem;
}

@for $i from 1 through 10 {
  .skill-element:nth-child(#{$i}) {
    .skill-indicator-row {
      .active:after {
        --row-delay: calc(0.1s * #{$i - 1});
      }
    }
  }
}

.skill-indicator-row {
  @for $i from 1 through 5 {
    .active {
      &:nth-child(#{$i}):after {
        --col-delay: calc(0.15s * #{$i - 1});
      }
    }
  }

  &:after {
    transition-duration: 0s;
  }

  .active {
    overflow: hidden;

    &:after {
      content: '';
      display: block;
      height: 100%;
      background-color: var(--color-gray-400);
      margin-left: 0;
      --duration: 0;
      transition: margin-left var(--duration) ease-out;
      transition-delay: 0.3s;


      .Mui-expanded & {
        margin-left: 100%;
        --duration: 0.2s;
        transition-delay: calc(var(--row-delay) + var(--col-delay));
      }
    }
  }
}

.career-list {
  li:before {
    content: '';
    position: fixed;
    width: 80vw;
    height: 80vh;
    top: 10vh;
    left: 10vw;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    opacity: .1;
    z-index: -1;
    pointer-events: none;
  }

  .nm {
    &:hover:before {
      background-image: url('../public/img/career/nm.svg');
    }
  }

  .dS {
    &:hover:before {
      background-image: url('../public/img/career/dotsource.png');
    }
  }

  .y1 {
    &:hover:before {
      background-image: url('../public/img/career/y1.svg');
    }
  }

  .real {
    &:hover:before {
      background-image: url('../public/img/career/real.webp');
    }
  }

  .mms {
    &:hover:before {
      background-image: url('../public/img/career/mms.png');
    }
  }
}